@model List<DoAnWeb.Models.THONGSOKYTHUAT>
@{
    ViewBag.Title = "TechInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MATS");
}

<div id="gridContent" style="width: 50%; margin:auto;">
    <div class="btn-group">
        @Html.ActionLink("THÊM MỚI", "Create", "THONGSOKYTHUATs", new { id = ViewBag.MAMH as string }, new { Class = "btn btn-success" })
        @Html.ActionLink("TRỞ VỀ", "ProductDetails", "QuanTri", new { id = ViewBag.MAMH as string }, new { Class = "btn btn-success" })
    </div>
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: false,
        mode: WebGridPagerModes.All,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[] {
grid.Column("TIEUDE","Tiêu đề"),
grid.Column("NOIDUNG","Nội dung"),
grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit","THONGSOKYTHUATs", new { id = item.MATS }, new{ Class = "btn btn-warning"})),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","THONGSOKYTHUATs", new { id = item.MATS }, new{ Class = "btn btn-danger", onclick = "return confirm('Bạn có muốn xóa thông số này?');"})),
})
</div>