
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "ReturnJSONDataToAJax",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (result) {
                $(result).each(function () {
                    $("#dropdownCountry").append($("<option></option>").val(this.Id).html(this.Name));
                });
            },
            error: function (data) { }
        }); 

        $('#dropdownCountry').change(function () {

            $('#dropdownState').empty();

            $.ajax({
                type: "GET",
                url: "GetQuanHuyensByThanhPhoId",
                datatype: "Json",
                data: { id: $('#dropdownCountry').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#dropdownState').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                    });
                }
            });
        });

        $('#dropdownState').change(function () {
            $('#dropdownState2').empty();
            $.ajax({
                type: "POST",
                url: "GetPXByPHId",
                datatype: "Json",
                data: { id: $('#dropdownState').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#dropdownState2').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                    });
                }
            });
        });

        $('#dropdownCountry').change(function () {

            $('#dropdownState2').empty();

            $.ajax({
                type: "POST",
                url: "GetPX",
                datatype: "Json",
                data: { id: $('#dropdownCountry').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#dropdownState2').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                    });
                }
            });
        });
    });
</script>

<div>
    @Html.DropDownList("dropdownCountry", new SelectList(string.Empty, "Value", "Text"), "Please select a country", new { @style = "width:250px;" })
</div>
<div style="margin-top:50px;">
    @Html.DropDownList("dropdownState", new SelectList(string.Empty, "Value", "Text"), "Please select a state", new { @style = "width:250px;" })
</div>
<div style="margin-top:50px;">
    @Html.DropDownList("dropdownState2", new SelectList(string.Empty, "Value", "Text"), "Please select a state", new { @style = "width:250px;" })
</div>
