.mydivouter {
    position: relative;
}

.mydivoverlap {
    position: relative;
    z-index: 1;
}

.mybuttonoverlap {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    display: none;
    right: 5px;
}

.mydivouter:hover .mybuttonoverlap {
    display: block;
}
